.note-container{
    display: flex;
    flex-direction:column;
    width:50%;
    height:100%;
    margin-top: 10%;
    align-items: center;
}
.note-form{
    display:flex;
    flex-direction:column;
    width:100%;
}
.notecard-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 5%;
}


.note-card
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    padding: 1%;
    margin: 1%;

}

